
table {
  background-color: transparent;
}
caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777;
  text-align: left;
}
th {
  text-align: left;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 2px;
}
.table  thead  tr  th,
.table  tbody  tr  th,
.table  tfoot  tr  th,
.table  thead  tr  td,
.table  tbody  tr  td,
.table  tfoot  tr  td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
  vertical-align: middle;
}
.table  thead  tr  th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}


.table .table {
  background-color: #fff;
}
.table-condensed  thead  tr  th,
.table-condensed  tbody  tr  th,
.table-condensed  tfoot  tr  th,
.table-condensed  thead  tr  td,
.table-condensed  tbody  tr  td,
.table-condensed  tfoot  tr  td {
  padding: 5px;
}
.table-bordered {
  border: 1px solid #ddd;
}
.table-bordered  thead  tr  th,
.table-bordered  tbody  tr  th,
.table-bordered  tfoot  tr  th,
.table-bordered  thead  tr  td,
.table-bordered  tbody  tr  td,
.table-bordered  tfoot  tr  td {
  border: 1px solid #ddd;
}
.table-bordered  thead  tr  th,
.table-bordered  thead  tr  td {
  border-bottom-width: 2px;
}
.table-striped  tbody  tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.table-hover  tbody  tr:hover {
  background-color: #f5f5f5;
}
table col[class*="col-"] {
  position: static;
  display: table-column;
  float: none;
}

.table  thead  tr  td.active,
.table  tbody  tr  td.active,
.table  tfoot  tr  td.active,
.table  thead  tr  th.active,
.table  tbody  tr  th.active,
.table  tfoot  tr  th.active,
.table  thead  tr.active  td,
.table  tbody  tr.active  td,
.table  tfoot  tr.active  td,
.table  thead  tr.active  th,
.table  tbody  tr.active  th,
.table  tfoot  tr.active  th {
  background-color: #f5f5f5;
}
.table-hover  tbody  tr  td.active:hover,
.table-hover  tbody  tr  th.active:hover,
.table-hover  tbody  tr.active:hover  td,
.table-hover  tbody  tr:hover  .active,
.table-hover  tbody  tr.active:hover  th {
  background-color: #e8e8e8;
}
.table  thead  tr  td.success,
.table  tbody  tr  td.success,
.table  tfoot  tr  td.success,
.table  thead  tr  th.success,
.table  tbody  tr  th.success,
.table  tfoot  tr  th.success,
.table  thead  tr.success  td,
.table  tbody  tr.success  td,
.table  tfoot  tr.success  td,
.table  thead  tr.success  th,
.table  tbody  tr.success  th,
.table  tfoot  tr.success  th {
  background-color: #dff0d8;
}
.table-hover  tbody  tr  td.success:hover,
.table-hover  tbody  tr  th.success:hover,
.table-hover  tbody  tr.success:hover  td,
.table-hover  tbody  tr:hover  .success,
.table-hover  tbody  tr.success:hover  th {
  background-color: #d0e9c6;
}
.table  thead  tr  td.info,
.table  tbody  tr  td.info,
.table  tfoot  tr  td.info,
.table  thead  tr  th.info,
.table  tbody  tr  th.info,
.table  tfoot  tr  th.info,
.table  thead  tr.info  td,
.table  tbody  tr.info  td,
.table  tfoot  tr.info  td,
.table  thead  tr.info  th,
.table  tbody  tr.info  th,
.table  tfoot  tr.info  th {
  background-color: #d9edf7;
}
.table-hover  tbody  tr  td.info:hover,
.table-hover  tbody  tr  th.info:hover,
.table-hover  tbody  tr.info:hover  td,
.table-hover  tbody  tr:hover  .info,
.table-hover  tbody  tr.info:hover  th {
  background-color: #c4e3f3;
}
.table  thead  tr  td.warning,
.table  tbody  tr  td.warning,
.table  tfoot  tr  td.warning,
.table  thead  tr  th.warning,
.table  tbody  tr  th.warning,
.table  tfoot  tr  th.warning,
.table  thead  tr.warning  td,
.table  tbody  tr.warning  td,
.table  tfoot  tr.warning  td,
.table  thead  tr.warning  th,
.table  tbody  tr.warning  th,
.table  tfoot  tr.warning  th {
  background-color: #fcf8e3;
}
.table-hover  tbody  tr  td.warning:hover,
.table-hover  tbody  tr  th.warning:hover,
.table-hover  tbody  tr.warning:hover  td,
.table-hover  tbody  tr:hover  .warning,
.table-hover  tbody  tr.warning:hover  th {
  background-color: #faf2cc;
}
.table  thead  tr  td.danger,
.table  tbody  tr  td.danger,
.table  tfoot  tr  td.danger,
.table  thead  tr  th.danger,
.table  tbody  tr  th.danger,
.table  tfoot  tr  th.danger,
.table  thead  tr.danger  td,
.table  tbody  tr.danger  td,
.table  tfoot  tr.danger  td,
.table  thead  tr.danger  th,
.table  tbody  tr.danger  th,
.table  tfoot  tr.danger  th {
  background-color: #f2dede;
}
.table-hover  tbody  tr  td.danger:hover,
.table-hover  tbody  tr  th.danger:hover,
.table-hover  tbody  tr.danger:hover  td,
.table-hover  tbody  tr:hover  .danger,
.table-hover  tbody  tr.danger:hover  th {
  background-color: #ebcccc;
}
.table-responsive {
  min-height: .01%;
  overflow-x: auto;
}


.table_border {
    border: 1px solid #000;
}
.table_border tbody tr td, .table_border tbody tr th, .table_border tfoot tr td, .table_border tfoot tr th, .table_border thead tr td, .table_border thead tr th {
    border: 1px solid #000;
}


.label {
    line-height: normal;
}

.minibar {
    font-size: 50px;
    font-weight: bold;
    z-index: 999;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -30px;
    cursor: pointer;
    display: none;
}

.clearfix {
    clear: both;
}

.maskscreen {
    background: url(./imgs/mask.png) repeat scroll 0 0 transparent;
    z-index: 999;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.loading_plugin {
    background: url(./imgs/mask.png) repeat scroll 0 0 transparent;
    z-index: 999;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #fff;
    display: none;
}

.loading_plugin .loading_plugin_content {
    position: absolute;
    text-align: center;
    top: 45%;
    width: 100%;
}

.dialog_box {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -490px;
    margin-top: -325px;
    width: 1000px;
    /*height:600px;*/
    border: 1px solid #999;
    padding: 5px;
    background: #fff;
    padding-top: 20px;
}

.nav {
    overflow: hidden;
    zoom: 1;
    margin-left: 0px;
}

.nav li {
    overflow: hidden;
    zoom: 1;
    cursor: pointer;
}

.close_btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    display: block;
    padding: 5px 8px;
    font-size: 12px;
    color: #777;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #e1e1e8;
    border-radius: 0 4px 0 4px;
}

.top_title {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -100px;
    z-index: 10;
    display: block;
    padding: 5px 8px;
    font-size: 16px;
    color: #777;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #e1e1e8;
    border-radius: 0 4px 4px 4px;
}

.home_btn {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
    padding: 5px 8px;
    font-size: 12px;
    color: #777;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #e1e1e8;
    border-radius: 4px 0 4px 0;
}

.tab-content {
    width: 100%;
    /*height: 100%;*/
    overflow: hidden;
    overflow: hidden;
    zoom: 1;
}

.tab-pane {
    display: none;
}

.tabpanel_item {
    width: 100%;
    /*height: 100%;*/
    min-height: 550px;
    display: none;
    background: #fff;
    overflow: hidden;
    overflow: hidden;
    zoom: 1;
}
.update_mode{
    background: url(./imgs/bg-update-mode.png) repeat;
}

.tabpanel_item.active {
    display: block;
}

.tabpanel_item .change-type-box {
    padding: 10px 0 0 0;
}

.tabpanel_item label {
    color: #666;
    width: auto;
}
.tabpanel_item .btn{
    width: auto;
    height: auto;
}
.tabpanel_item .header-box{

}
.tabpanel_item .header-box .left{

}
.tabpanel_item .header-box .right{
    
}
/*.tabpanel_item .change-type-box label{
    padding-right: 10px;
    cursor: pointer;
}*/

.oprate-title {
    padding: 10px 0 0 0;
}

.oprate-box {
    width: 100%;
    height: 430px;
    overflow: auto;
}

.oprate-box-h {
    height: 450px;
}

.oprate-box p {
    padding: 0;
    margin: 0;
}

.oprate-box textarea {
    width: 100%;
    /*height: 100%;*/
    height: 420px;
    border: 1px solid #ccc;
}

.oprate-button-box {
    padding-top: 10px;
}

.list-group-item {
    color: #666;
}


/**hack ie bootstrap**/

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav li {
    position: relative;
    display: none;
}

.nav li a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.nav li a:hover,
.nav li a:focus {
    text-decoration: none;
    background-color: #eee;
}

.nav li.disabled a {
    color: #777;
}

.nav li.disabled a:hover,
.nav li.disabled a:focus {
    color: #777;
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
}

.nav .open a,
.nav .open a:hover,
.nav .open a:focus {
    background-color: #eee;
    border-color: #337ab7;
}

.nav .nav-divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.nav li a img {
    max-width: none;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.nav-tabs li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs li a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

.nav-tabs li a:hover {
    border-color: #eee #eee #ddd;
}

.nav-tabs li.active a,
.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.nav-tabs.nav-justified {
    width: 100%;
    border-bottom: 0;
}

.nav-tabs.nav-justified li {
    float: none;
}

.nav-tabs.nav-justified li a {
    margin-bottom: 5px;
    text-align: center;
}

.nav-tabs.nav-justified .dropdown .dropdown-menu {
    top: auto;
    left: auto;
}

.form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.form-inline .form-control-static {
    display: inline-block;
}

.form-inline .input-group {
    display: inline-table;
    vertical-align: middle;
}

.form-inline .input-group .input-group-addon,
.form-inline .input-group .input-group-btn,
.form-inline .input-group .form-control {
    width: auto;
}

.form-inline .input-group>.form-control {
    width: 100%;
}

.form-inline .control-label {
    margin-bottom: 0;
    vertical-align: middle;
}

.form-inline .radio,
.form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
}

.form-inline .radio label,
.form-inline .checkbox label {
    padding-left: 0;
}

.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
}

.form-inline .has-feedback .form-control-feedback {
    top: 0;
}

.qx {
    /* display: none; */
}

.table-result,
.table-result tr th,
.table-result tr td {
    border: 1px solid #000;
   /* table-layout: fixed;*/
}

.table-result tr td a:visited {
    color: red;
}

.table-result tr th,
.table-result tr td {
    display: table-cell;
}

.dashbord-label {
    margin: 20px 0 0 20px;
    border-bottom: 1px solid #555;
    color: #678;
    font-weight: bold;
    font-size: 20px;
}

.dashbord {
    overflow: hidden;
    *height: 149px;
}

.dashbord .dashbord-link,
.dashbord .dashbord-link:hover,
.dashbord .dashbord-link:active,
.dashbord .dashbord-link:visited {
    width: 100%;
    height: 100px;
    padding: 0 20px 20px 20px;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    text-align: center;
    /*color:#778;*/
    color: #5bc0de;
    text-decoration: none;
}

.dashbord a {
    display: block;
}

.dashbord a:hover {
    color: red;
    background: #ccc;
}

.dashbord .dashbord-link i {
    font-size: 48px;
}

.dashbord .dashbord-link div {
    font-size: 14px;
    font-weight: bold;
}

.tab-content>.tab-pane {
    visibility: visible;
}

.oprate_panel {
    padding: 50px;
}

#g_single_bushou .panel-body span,
a {
    padding-left: 20px;
    text-decoration: underline;
    cursor: pointer;
}

#g_single_bushou .panel-body span {}

#g_single_bushou .panel-body a:visited {
    color: red;
}

.panel {
    color: #666;
}

.role {
    display: none;
}

.pb_print {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    background: #fff;
    z-index: 2000;
    display: none;
}

.print_table {
    page-break-after: always;
    padding: 0 20px;
}

.oprate-title {
    display: block;
    overflow: hidden;
}
.u_r01{padding:0;background-color:rgb(255,255,255);color:rgb(0,0,0);font-size:16pt;font-family:宋体;font-weight:bold;text-align:center;vertical-align:center;text-decoration:none;word-break:normal;;word-wrap:break-word;overflow:hidden;;height:100%;}
.u_r02{padding:0;background-color:rgb(255,255,255);color:rgb(0,0,0);font-size:10pt;font-family:仿宋;text-align:left;vertical-align:center;text-decoration:none;word-break:normal;;word-wrap:break-word;overflow:hidden;border-bottom:1.0pt solid rgb(0,0,0);;height:100%;}
.u_r03{padding:0;background-color:rgb(255,255,255);color:rgb(0,0,0);font-size:10pt;font-family:仿宋;text-align:center;vertical-align:center;text-decoration:none;word-break:normal;;word-wrap:break-word;overflow:hidden;border-bottom:1.0pt solid rgb(0,0,0);;height:100%;}
.u_r04{padding:0;background-color:rgb(255,255,255);color:rgb(0,0,0);font-size:10pt;font-family:仿宋;text-align:center;vertical-align:center;text-decoration:none;word-break:normal;;word-wrap:break-word;overflow:hidden;border-left:1.0pt solid rgb(0,0,0);border-top:1.0pt solid rgb(0,0,0);border-right:1.0pt solid rgb(0,0,0);border-bottom:1.0pt solid rgb(0,0,0);;height:100%;}
.u_r05{padding:0;background-color:rgb(255,255,255);color:rgb(0,0,0);font-size:10pt;font-family:仿宋;text-align:center;vertical-align:center;text-decoration:none;word-break:normal;;word-wrap:break-word;overflow:hidden;border-left:1.0pt solid rgb(0,0,0);border-top:1.0pt solid rgb(0,0,0);border-bottom:1.0pt solid rgb(0,0,0);;height:100%;}
.u_r06{padding:0;background-color:rgb(255,255,255);color:rgb(0,0,0);font-size:10pt;font-family:仿宋;text-align:center;vertical-align:center;text-decoration:none;word-break:normal;;word-wrap:break-word;overflow:hidden;border-left:1.0pt solid rgb(0,0,0);border-top:1.0pt solid rgb(0,0,0);border-right:1.0pt solid rgb(0,0,0);border-bottom:1.0pt solid rgb(0,0,0);;height:100%;}
.u_r07{padding:0;background-color:rgb(255,255,255);color:rgb(0,0,0);font-size:10pt;font-family:仿宋;font-weight:bold;text-align:center;vertical-align:center;text-decoration:none;word-break:normal;;word-wrap:break-word;overflow:hidden;border-left:1.0pt solid rgb(0,0,0);border-top:1.0pt solid rgb(0,0,0);border-right:1.0pt solid rgb(0,0,0);border-bottom:1.0pt solid rgb(0,0,0);;height:100%;}
.u_r08{padding:0;background-color:rgb(255,255,255);color:rgb(0,0,0);font-size:9pt;font-family:宋体;text-align:left;vertical-align:top;text-decoration:none;word-break:normal;;word-wrap:break-word;overflow:hidden;border-left:1.0pt solid rgb(0,0,0);border-top:1.0pt solid rgb(0,0,0);border-right:1.0pt solid rgb(0,0,0);border-bottom:1.0pt solid rgb(0,0,0);;height:100%;}
.u_r09{padding:0;background-color:rgb(255,255,255);color:rgb(0,0,0);font-size:10pt;font-family:仿宋;text-align:left;vertical-align:center;text-decoration:none;word-break:normal;;word-wrap:break-word;overflow:hidden;border-left:1.0pt solid rgb(0,0,0);border-top:1.0pt solid rgb(0,0,0);;height:100%;}
.u_r010{padding:0;background-color:rgb(255,255,255);color:rgb(0,0,0);font-size:10pt;font-family:仿宋;text-align:center;vertical-align:center;text-decoration:none;word-break:normal;;word-wrap:break-word;overflow:hidden;border-top:1.0pt solid rgb(0,0,0);;height:100%;}
.u_r011{padding:0;background-color:rgb(255,255,255);color:rgb(0,0,0);font-size:10pt;font-family:仿宋;text-align:left;vertical-align:center;text-decoration:none;word-break:normal;;word-wrap:break-word;overflow:hidden;border-top:1.0pt solid rgb(0,0,0);;height:100%;}
.u_r012{padding:0;background-color:rgb(255,255,255);color:rgb(0,0,0);font-size:10pt;font-family:仿宋;text-align:left;vertical-align:top;text-decoration:none;word-break:normal;;word-wrap:break-word;overflow:hidden;border-top:1.0pt solid rgb(0,0,0);;height:100%;}
.u_r013{padding:0;background-color:rgb(255,255,255);color:rgb(0,0,0);font-size:10pt;font-family:仿宋;text-align:left;vertical-align:top;text-decoration:none;word-break:normal;;word-wrap:break-word;overflow:hidden;border-top:1.0pt solid rgb(0,0,0);border-right:1.0pt solid rgb(0,0,0);;height:100%;}
.u_r014{padding:0;background-color:rgb(255,255,255);color:rgb(0,0,0);font-size:10pt;font-family:仿宋;text-align:left;vertical-align:center;text-decoration:none;word-break:normal;;word-wrap:break-word;overflow:hidden;border-left:1.0pt solid rgb(0,0,0);;height:100%;}
.u_r015{padding:0;background-color:rgb(255,255,255);color:rgb(0,0,0);font-size:10pt;font-family:仿宋;text-align:left;vertical-align:center;text-decoration:none;word-break:normal;;word-wrap:break-word;overflow:hidden;;height:100%;}
.u_r016{padding:0;background-color:rgb(255,255,255);color:rgb(0,0,0);font-size:10pt;font-family:仿宋;text-align:left;vertical-align:center;text-decoration:none;word-break:normal;;word-wrap:break-word;overflow:hidden;border-right:1.0pt solid rgb(0,0,0);;height:100%;}
.u_r017{padding:0;background-color:rgb(255,255,255);color:rgb(0,0,0);font-size:10pt;font-family:仿宋;text-align:right;vertical-align:center;text-decoration:none;word-break:normal;;word-wrap:break-word;overflow:hidden;border-left:1.0pt solid rgb(0,0,0);border-bottom:1.0pt solid rgb(0,0,0);;height:100%;}
.u_r018{padding:0;background-color:rgb(255,255,255);color:rgb(0,0,0);font-size:10pt;font-family:仿宋;text-align:left;vertical-align:center;text-decoration:none;word-break:normal;;word-wrap:break-word;overflow:hidden;border-right:1.0pt solid rgb(0,0,0);border-bottom:1.0pt solid rgb(0,0,0);;height:100%;}
.u_r019{padding:0;background-color:rgb(255,255,255);color:rgb(0,0,0);font-size:10pt;font-family:仿宋;text-align:left;vertical-align:center;text-decoration:none;word-break:normal;;word-wrap:break-word;overflow:hidden;border-left:1.0pt solid rgb(0,0,0);border-top:1.0pt solid rgb(0,0,0);border-right:1.0pt solid rgb(0,0,0);border-bottom:1.0pt solid rgb(0,0,0);;height:100%;}
.u_r020{padding:0;background-color:rgb(255,255,255);color:rgb(0,0,0);font-size:10pt;font-family:仿宋;text-align:left;vertical-align:center;text-decoration:none;word-break:normal;;word-wrap:break-word;overflow:hidden;border-left:1.0pt solid rgb(0,0,0);border-top:1.0pt solid rgb(0,0,0);border-bottom:1.0pt solid rgb(0,0,0);;height:100%;}
.u_r021{padding:0;background-color:rgb(255,255,255);color:rgb(0,0,0);font-size:10pt;font-family:仿宋;text-align:left;vertical-align:bottom;text-decoration:none;word-break:normal;;word-wrap:break-word;overflow:hidden;border-top:1.0pt solid rgb(0,0,0);border-bottom:1.0pt solid rgb(0,0,0);;height:100%;}
.u_r022{padding:0;background-color:rgb(255,255,255);color:rgb(0,0,0);font-size:10pt;font-family:仿宋;text-align:left;vertical-align:center;text-decoration:none;word-break:normal;;word-wrap:break-word;overflow:hidden;border-top:1.0pt solid rgb(0,0,0);border-right:1.0pt solid rgb(0,0,0);border-bottom:1.0pt solid rgb(0,0,0);;height:100%;}
.u_r023{padding:0;background-color:rgb(255,255,255);color:rgb(0,0,0);font-size:10pt;font-family:仿宋;text-align:left;vertical-align:center;text-decoration:none;word-break:normal;;word-wrap:break-word;overflow:hidden;border-top:1.0pt solid rgb(0,0,0);;height:100%;}

.opreate_box{
    margin: 50px;
}
.opreate_box h4{
    color: #000;
}

.da_print,.gs_print{
    left: 0;
    top: 0;
    background: #fff;
    z-index: 2000;
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
}
.gs_print{
 size: A4 landscape;
}
.gs_left{
     float: left;
    width: 50%;
}
.gs_right{
    float: left;
    width: 50%;
}
.gs_print_content{
    padding: 1cm;
}
.gsyfdj_main_container{

}
.gsyfdj_main{
    margin-left: 400px;
    margin-right: 160px;
    /* height: 300px; */
    /* background-color: green; */
}
.gsyfdj_main .list-group{
    margin-left: 0px;
}
.gsyfdj_main .list-group .list-group-item.active .list-group-item-text{
    color:#fff;
}
.gsyfdj_main .list-group .list-group-item{
    padding: 2px 10px 2px 10px;
}
.gsyfdj_main .list-group .list-group-item-text{
    line-height: 1;
}
.gsyfdj_left{
    float: left;
    /* height: 200px; */
    width: 400px;
    /* background-color: red; */
}
.gsyfdj_right{
    width: 150px;
    /* height: 200px; */
    /* background-color: blue; */
    float: right;
}
.gsyfdj_right ul{
    margin-left: 0;
    height: 400px;
    overflow: auto;
}
.gsyfdj_right li{
    border-bottom: 1px dotted #666;
}
#txsqdj .list-group{
    height: 220px;
    overflow: auto;
}

#czxincan .operate-out,#czjiechu .operate-out{
    background: #fff;
}


#czxincan .tabpanel_item .left,#czjiechu .tabpanel_item .left{
    width:680px;
    float: left;
    background: #fff;
}
#czxincan .tabpanel_item .left .change-type-box,#czjiechu .tabpanel_item .left .change-type-box{
    background: #fff;
}
#czxincan .tabpanel_item .right,#czjiechu .tabpanel_item .right{
    margin-left: 680px;
    background: #fff;
}
#czxincan_company_name,#czjiechu_company_name{
    color: #000;
    background: #fff;
}




.gsyfdj_main_container .gsyfdj_left .form-group label,.gsyfdj_main_container .gsyfdj_left .form-group div {
    *float: left;
}
.gsyfdj_main_container .gsyfdj_left .form-group label{
    *width: 112px;
    *text-align: right;
}
.gsyfdj_main li{
    cursor: pointer;
}
.gsyfdj_right div{
    color: #666;
}
.gsyfdj_right ul,.gsyfdj_history_list{
    padding-left: none;
    margin-left: none;
    list-style:none;
}
.gsyfdj_right ul li,.gsyfdj_history_list li{
     overflow: hidden;
    color: #666;
}
.gsyfdj_history_list li{
    cursor: pointer;
}
.list-group{
    list-style: none;
    
}
.list-group .list-group-item-text{
    color:#666;
}
#txsqdj div,#txsqdj label,#txsqdj form{
     background: #fff;
}
#txsqdj  .left{
    width:680px;
    float: left;
    background: #fff;
}
#txsqdj  .right{
    margin-left: 680px;
    background: #fff;
}
#txsqdj #txsqdj_nation_labels .label{
    cursor: pointer;
}
#tfjsq_company_name{
    color: #000;
}